body {
    font-family: 'ROG LyonsType', sans-serif;
    background-color: #271818;
    background-image: url('https://wallpaperaccess.com/full/489618.jpg');
    margin: 20px;
    background-size: cover; 
    background-position: auto; 
    background-repeat: no-repeat; 
}

.container {
    max-width: 800px; 
    width: 90%; 
    min-height: 600px;
    background-color: rgba(66, 66, 66, 0.7); 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 12px 50px rgba(255, 0, 0, 0.2); 
    margin: 0 auto; 
}

label {
    color: #ffffff;
}

h1 {
    color: #ff0000;
    text-align: center;
}

h2 {
    color: #ffffff;
}

button {
    background-color: #707070;
    color: #ffffff;
}

button:hover {
    background-color: #ff0000; 
    transform: scale(1.05); 
}
input[type="file"], button {
    margin-top: 2px;
    color: #f2eded; 
   
}
input[type="file"], button {
    margin-top: 10px;
}
#finalOutput, #recordFile {
    background-color: rgba(83, 83, 83, 0.5); 
    color: #ffffff;
    padding: 10px; 
    border-radius: 5px; 
    margin-top: 10px; 
}
footer{
    color: #707070;
}
pre {
    background-color: rgba(224, 224, 224, 0.8); 
    padding: 10px;
    border-radius: 5px;
}
